{{- if eq .Kind "home" -}}
<section class="hero is-oquereluz-vermelho">
{{- else -}}
<section class="hero is-oquereluz-marinho">
{{- end -}}
  <div class="hero-body" style="margin-bottom:6rem;">
    <div class="container">
      <div class="columns is-variable is-1 is-multiline is-mobile has-text-centered-mobile is-flex-direction-column-mobile">
        <div class="column is-full-mobile is-oquereluz-one-third-tablet">
          {{ partial "logos/vertical-areia.html" }}
        </div>
        <div class="column is-full-mobile is-three-quarters-tablet">
          <ul class="footer-menu">
            <li class="mb-2"><a class="has-text-weight-semibold" href="/">HOME</a></li>
            <li class="mb-2"><a class="has-text-weight-semibold" href="#servicos">SERVIÇOS</a></li>
            <li class="mb-2"><a class="has-text-weight-semibold" href="#sobre-mim">SOBRE MIM</a></li>
            <li class="mb-2"><a class="has-text-weight-semibold" href="#newsletter">NEWSLETTER</a></li>
            <li class="mb-2"><a class="has-text-weight-semibold" href="#contato">CONTATO</a></li>
          </ul>
        </div>
        <div class="column is-full-mobile has-text-centered">
            <a href="https://instagram.com/{{ .Site.Params.social.instagram }}" target="_blank" class="instagram is-large" style="border:none;">
            <span class="icon">
              <i class="fa-brands fa-instagram"></i>
            </span>
          </a>
          <!-- <a href="#contato" class="substack" style="border:none;"> -->
              <!-- <img src="{{ "substack-reader.svg" }}" /> -->
          <!-- </a> -->
        </div>
      </div> <!-- footer columns -->
    </div>
  </div>
</section>
