<section id="contato" class="hero is-oquereluz-areia">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter is-flex is-align-items-center">
          <h1 class="title is-size-1">contato</h1>
        </div>
        <div class="column is-half">
          <form action="#" method="post">
            <!-- Nome e Email na mesma linha -->
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <label class="label contato">nome</label>
                  <div class="control">
                    <input class="input is-medium is-oquereluz-transparent contato" type="text" required>
                  </div>
                </div>
                <div class="field">
                  <label class="label contato">email</label>
                  <div class="control">
                    <input class="input is-medium is-oquereluz-transparent contato" type="email" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label contato">mensagem</label>
              <div class="control">
                <textarea class="textarea is-medium is-oquereluz-transparent contato" required></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control has-text-centered">
                <button class="button is-rounded px-6 is-medium is-oquereluz-marrom">
                  <span class="icon">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span>enviar mensagem</span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="column">
          <div class="ml-6 contato-info">
            <div class="is-flex is-flex-direction-column">
              <div class="is-flex is-flex-direction-column">
                <span class="has-text-weight-bold">email</span>
                <span class="is-size-6">contato@oquereluz.com.br</span>
              </div>
              <div class="is-flex is-flex-direction-column">
                <span class="has-text-weight-bold">telefone</span>
                <span class="is-size-6">(85) 99999.1313</span>
              </div>
              <div class="is-flex is-flex-direction-column">
                <span class="has-text-weight-bold">endereço</span>
                <span class="is-size-6">Fortaleza/CE</span>
              </div>
            </div>
          </div>
        </div> <!-- contact info column -->
      </div> <!-- contact columns -->
    </div>
  </div>
</section>
