<section class="hero is-oquereluz-vermelho">
  <div class="hero-body" style="margin-bottom:6rem;">
    <div class="container">
      <div class="columns">
        <div class="column">
          {{ partial "logos/vertical-areia.html" }}
        </div>
        <div class="column is-three-quarters">
          <ul class="footer-menu">
            <li class="mb-2"><a class="has-text-weight-semibold" href="#">HOME</a></li>
            <li class="mb-2"><a class="has-text-weight-semibold" href="#">SERVIÇOS</a></li>
            <li class="mb-2"><a class="has-text-weight-semibold" href="#">BLOG</a></li>
            <li class="mb-2"><a class="has-text-weight-semibold" href="#">SOBRE MIM</a></li>
            <li class="mb-2"><a class="has-text-weight-semibold" href="#">CONTATO</a></li>
          </ul>
        </div>
        <div class="column">
          <span>icones</span>
        </div>
      </div> <!-- footer columns -->
    </div>
  </div>
</section>
