<section class="hero is-oquereluz-vermelho">
  <div class="hero-body">
    <div class="container">
      <header class="py-5">
        {{ partial "header.html" . }}
      </header>
      <div class="columns mt-6">
        <div class="column is-half is-flex is-flex-direction-column is-justify-content-center">
          <h1 class="title is-size-special">
            <span class="has-text-weight-bold">
              Contar<br />
              histórias
            </span><br />
            para dizer<br />
            <span class="has-text-weight-bold is-italic">
              um mundo
            </span>
          </h1>
          <div class="">
            <a class="button is-rounded is-medium is-oquereluz-marrom has-font-work" style="border:none;">
              <span class="pr-2">escrevo as suas histórias</span>
              <span class="icon">
                <i class="fas fa-arrow-right-long"></i>
              </span>
            </a>
          </div>
        </div> <!-- column -->
        <div class="column is-flex is-justify-content-center">
          {{ partial "logos/shape-top.html" }}
        </div>
      </div> <!-- columns -->
    </div>
  </div>
</section>
