<section id="newsletter" class="hero is-medium is-oquereluz-marrom">
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half has-text-centered newsletter">
          <h1 class="title is-size-1">assine a newsletter</h1>
          <div id="custom-substack-embed"></div>
          <!-- <div class="card has-background-marrom"> -->
            <!-- <div class="card-content"> -->
              <!-- <form id="newsletter-form" name="newsletter"> -->
              <!--   <div class="field is-grouped"> -->
              <!--     <div class="control is-expanded"> -->
              <!--       <input class="input is-rounded is-oquereluz-marrom newsletter" name="email" type="text" placeholder="email"> -->
              <!--     </div> -->
              <!--     <div class="control"> -->
              <!--       <button class="button is-rounded is-oquereluz-areia"> -->
              <!--         enviar  -->
              <!--       </button> -->
              <!--     </div> -->
              <!--   </div> <!-- field --> 
              <!-- </form> -->
            <!-- </div> -->
          <!-- </div> -->
          <span class="help">seu email não será compartilhado</span>
        </div> <!-- column -->
      </div> <!-- columns -->
    </div>
  </div>
</section>
